@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

input {
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  border: none;           
  outline: none;            
  background: transparent;
  color: white;
  caret-color: transparent;
  field-sizing: content;
  min-width: 0px;
}

body {
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}